/* Style sheet for the calculator.  All styling edits for the
 * program should reside only in this file
 */

Screen {
    layout: grid;
    grid-size: 3 6;
    background: #32302F;
    align: center middle;
  }

Input {
  border: solid #98971A;
  height: auto;
  width: auto;
  background: #32302F;
  }

.cntnr {
    column-span: 3;
    border: solid #D65D0E;
    height: 100%;
    width: 100%;
    background: #32302F;
    align: center middle;
    border_title-align: left;
  }

.opr {
   border: solid #98971A;
   background: #32302F;
   content-align: center middle;
   width: 24;
  }

#oprtns {
  row-span: 2;
  layout: grid;
  grid-size: 3 2;
}

#equals {
  column-span: 1;
  border: solid #D79921;
  height: 3;
  width: 11;
  background: #32302F;
  content-align: center middle;
}

#calc {
  column-span: 3;
  border: none;
  background: #32302F;
  align: center middle;
}

#output {
    column-span: 3;
    border: solid #D65D0E;
    height: 100%;
    width: 100%;
    background: #32302F;
    content-align: center middle;
    border_title-align: left;
}
